<h1>You've listed a new job!</h1>
<p>Job Title: @Model.GetTitle()</p>
<p>Job Description: @Model.GetDescription()</p>
<p>Contact Name: @Model.GetContact().GetName()</p>
<p>Contact Email: @Model.GetContact().GetEmail()</p>
<p>Contact Phone Number: @Model.GetContact().GetPhoneNumber()</p>
<p><a href="/add_new_job">List another job</a></p>
<p><a href="/view_all_jobs">View current jobs</a></p>
